@model GameBlog.ViewModel.Blog.BlogPostShowViewModel

@section metaTitle {Все записи в Блоге}

@section metaDesc {Читайте самые свежие туристические новости в блоге компании}

@section metaKeys {блог о туризме, записи о туризме, где отдыхать, как отдыхать, в какой отель заселиться, информация для туриста}

<!-- Page top section -->
<section class="page-top-section" style="background-image: url('/img/page-top-bg/3.jpg')">
    <div class="page-info">
        <h2>Blog</h2>
        <div class="site-breadcrumb">
            <span>Home</span> <span>/</span> <span>Blog</span> <span>/</span> <span>@Model.Name</span>
        </div>
    </div>
</section>
<!-- Page top end-->


<!-- Blog page -->
<section class="blog-page">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-8 col-md-7">
                <div class="big-blog-item">
                    <img src="@Model.Image" alt="" class="blog-thumbnail">
                    <div class="blog-content text-box text-white">
                        <h3>@Model.Name</h3>
                        <p>@Model.Description</p>
                        <div>@Model.Article</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog page end-->